/* #33A137 = green
#1F1F1F = light grey
#FFFFFF
#E83A3A
#EBECED
*/

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.header .top-nav-strip {
  background-color: #33a137;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
}

.header .top-nav-strip ul {
  margin: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.header .top-nav-strip ul li {
  list-style-type: none;
  margin: 10px 20px 9px 4px;
}

.header .top-nav-strip ul li a {
  text-decoration: none;
  color: azure;
  text-transform: uppercase;
}

.more-nav-item {
  margin: 30px;
}

.new-item {
  color: aliceblue;
  background-color: #e83b3b;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
  font-weight: normal;
  font-size: 9.5px;
  position: fixed;
  top: 16.5px;
  left: 645px;
}
.header .top-nav-strip ul li a img {
  width: 23px;
}

.header .top-nav-strip ul li input {
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  border: 2px solid white;
}

.header .top-nav-strip ul li input:focus-visible {
  outline: none;
}

.top-primary-nav {
  background-color: #f7f7f7;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
}

.top-primary-nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
}

.top-primary-nav ul li {
  list-style-type: none;
  margin: 10px 20px 9px 4px;
  font-weight: normal;
}

.top-primary-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #848493;
}

.top-primary-nav ul li a img {
  width: 140px;
}

.main .search-area img {
  width: 100%;
}
